In [39]:
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

In [92]:
db_file = "project/data-dev.sqlite"
con = sqlite3.connect(db_file)
cur = con.cursor()
query = "SELECT * FROM Event WHERE user_id = ?;"
param = (user.id,)
cur.execute(query,param)
data = cur.fetchall()

In [93]:
data

[(1, 'test', 'Yes', 50, 'No', 1), (2, 'test', 'Yes', 80, 'Yes', 1)]

In [95]:
df  = pd.read_sql_query(query, con=con, params = param)

In [99]:
df

   id  desc want  likelihood happened  user_id
0   1  test  Yes          50       No        1
1   2  test  Yes          80      Yes        1

In [114]:
expected = df.likelihood.mean()/100

In [115]:
expected

0.65

In [116]:
df.happened = df.happened.replace('No',0)
df.happened = df.happened.replace('Yes',1)

In [117]:
actual = (df.happened.sum()) / (df.happened.count())

In [118]:
actual

0.5

In [124]:
score = round((expected - actual),2)

In [125]:
score

0.15