In [16]:
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

In [17]:
db_file = "project/data-dev.sqlite"
con = sqlite3.connect(db_file)
cur = con.cursor()

In [18]:
query = "SELECT * FROM Event WHERE user_id = ?;"
param = (1,)
cur.execute(query,param)
events = cur.fetchall()

In [19]:
events

[(1, 'test', 'Yes', 30, 'Yes', 1),
 (2, 'test 5', 'Yes', 11, 'No', 1),
 (3, 'adf', 'Yes', 60, 'No', 1)]

In [20]:
query1 = "SELECT * FROM Score WHERE user_id = ?;"
param1 = (1,)
cur.execute(query,param)
scores = cur.fetchall()

In [21]:
df_scores  = pd.read_sql_query(query1, con=con, params = param1)

In [22]:
df_scores.head()

,id,scored_on,reality,accuracy,num,user_id
0,1,2019-07-31 20:46:21.817991,-70,50,b'\x01\x00\x00\x00\x00\x00\x00\x00',1
1,2,2019-07-31 20:47:39.532560,-70,50,b'\x01\x00\x00\x00\x00\x00\x00\x00',1
2,3,2019-07-31 20:47:44.252507,-70,50,b'\x01\x00\x00\x00\x00\x00\x00\x00',1
3,4,2019-07-31 20:47:56.097304,-30,25,b'\x02\x00\x00\x00\x00\x00\x00\x00',1
4,5,2019-07-31 20:49:17.545028,-30,25,b'\x02\x00\x00\x00\x00\x00\x00\x00',1

In [24]:
import warnings
warnings.filterwarnings('ignore')
from bokeh.plotting import figure, show, output_file, output_notebook
from bokeh.palettes import Spectral11, colorblind, Inferno, BuGn, brewer
from bokeh.models import HoverTool, value, LabelSet, Legend, ColumnDataSource,LinearColorMapper,BasicTicker, PrintfTickFormatter, ColorBar
import datetime

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
# print(os.listdir("../input"))
# output_notebook()

In [25]:
df_scores['scored_on']=pd.to_datetime(df_scores.scored_on)
df_scores['Day'] = df_scores['scored_on'].apply(lambda x: x.day)
df_scores['Month'] = df_scores['scored_on'].apply(lambda x: x.month)
df_scores['Year'] = df_scores['scored_on'].apply(lambda x: x.year)
# df_scores['Date'] = df_scores['scored_on'].apply(lambda x: x.day x.month x.year)
# df_scores['']
# data['Month'] = data.Date.apply(lambda x: x.month)
df_scores.head()

,id,scored_on,reality,accuracy,num,user_id,Day,Month,Year
0,1,2019-07-31 20:46:21.817991,-70,50,b'\x01\x00\x00\x00\x00\x00\x00\x00',1,31,7,2019
1,2,2019-07-31 20:47:39.532560,-70,50,b'\x01\x00\x00\x00\x00\x00\x00\x00',1,31,7,2019
2,3,2019-07-31 20:47:44.252507,-70,50,b'\x01\x00\x00\x00\x00\x00\x00\x00',1,31,7,2019
3,4,2019-07-31 20:47:56.097304,-30,25,b'\x02\x00\x00\x00\x00\x00\x00\x00',1,31,7,2019
4,5,2019-07-31 20:49:17.545028,-30,25,b'\x02\x00\x00\x00\x00\x00\x00\x00',1,31,7,2019

In [26]:
scores = df_scores.groupby(['Day']).mean().reset_index()
scores

   Day    id    reality   accuracy  user_id  Month    Year
0    1  34.5 -26.770833  25.833333      1.0    8.0  2019.0
1    3  66.0   1.000000  33.000000      1.0    8.0  2019.0
2   31   5.5 -42.000000  32.500000      1.0    7.0  2019.0

In [28]:
TOOLS = 'crosshair,save,pan,box_zoom,reset,wheel_zoom'
p = figure(title="Perception over Time", y_axis_type="linear",x_axis_type='datetime', tools = TOOLS)

p.line(df_scores['scored_on'], df_scores.accuracy, legend="Accuracy", line_color="magenta", line_width = 3)
p.line(df_scores['scored_on'], df_scores.reality, legend="Reality", line_color="blue", line_width = 3)
p.circle(df_scores['scored_on'], df_scores.accuracy, line_color='magenta',fill_color="white", size=8)
p.circle(df_scores['scored_on'], df_scores.reality, line_color='blue',fill_color="white", size=8)
# p.line(stolen_property['Date'], stolen_property.IncidntNum, legend="stolen_property", line_color="blue", line_width = 3)

p.legend.location = "top_left"

p.xaxis.axis_label = 'Date'
p.yaxis.axis_label = 'Value'

output_file("multiline_plot.html", title="Multi Line Plot")

show(p)  # open a browser

In [29]:
TOOLS = 'save,pan,box_zoom,reset,wheel_zoom,hover'
p = figure(title="Year-wise total number of crimes", y_axis_type="linear", plot_height = 400,
           tools = TOOLS, plot_width = 800)
p.xaxis.axis_label = 'Date'
p.yaxis.axis_label = 'Reality Score'
p.circle(df_scores.scored_on, df_scores.reality, size = 5, color = 'red')

p.line(df_scores.scored_on, df_scores.reality,line_color="red", line_width = 3)
p.select_one(HoverTool).tooltips = [
    ('Date', '@x'),
    ('Score', '@y'),
]

output_file("line_chart.html", title="Reality Chart")
show(p)

In [95]:
df  = pd.read_sql_query(query, con=con, params = param)

In [99]:
df

   id  desc want  likelihood happened  user_id
0   1  test  Yes          50       No        1
1   2  test  Yes          80      Yes        1

In [114]:
expected = df.likelihood.mean()/100

In [115]:
expected

0.65

In [116]:
df.happened = df.happened.replace('No',0)
df.happened = df.happened.replace('Yes',1)

In [117]:
actual = (df.happened.sum()) / (df.happened.count())

In [118]:
actual

0.5

In [124]:
score = round((expected - actual),2)

In [125]:
score

0.15